<div class="h-2/5">
  <p class="text-4xl p-20 w-2/3">
    <span class="text-cyan-600">Choose</span> the university that suits you! <br>
    <span class="text-lg flex flex-col mt-8 text-gray-600">
      <span>It is very important to be fulfilled in your university,</span>
      <span class="">Ensure that you know the field you want
      </span>
    </span>
  </p>
  <img src="../../../../assets/image/school.svg" alt="" class="w-1/4 absolute right-8 top-8">
</div>

<div class="h-3/5 py-12 px-20 flex justify-between content">
  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="w-2/3" src=" ../../../../assets/image/ispm.png" alt="">
    </div>
    <div class="flex flex-col justify-evenly">
      <div class="pl-6 pr-3 pt-4 py-1">
        <div class="font-bold text-lg mb-2">ISPM Antsobolo</div>
        <p class="text-gray-700 text-base text-sm">
          It's a very well-known university, there are many fields. Particularly in IT
        </p>
      </div>
      <div class="mt-1 ml-6 fixed bottom-16">
        <a href="https://ispm-edu.com/" target="_blank">
          <button class="border rounded-lg text-white btn px-12 py-2 font-bold">Read More ...</button>
        </a>
      </div>
    </div>
  </div>

  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="w-2/3" src=" ../../../../assets/image/cntemad.png" alt="">
    </div>
    <div class="pl-6 pr-3 pt-5 py-1">
      <div class="font-bold text-lg mb-2">CNTEMAD</div>
      <p class="text-gray-700 text-base text-sm">
        This is the pioneer of distance learning in Madagascar.
      </p>
    </div>
    <div class="mt-1 ml-6 fixed bottom-16">
      <a href="https://www.facebook.com/groups/cntemad/?locale=fr_FR" target="_blank">
        <button class="border rounded-lg text-white px-12 font-bold py-2 btn">Read More ...</button>
      </a>
    </div>
  </div>

  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="w-2/3" src=" ../../../../assets/image/ankatso.jpg" alt="">
    </div>
    <div class="pl-6 pr-3 pt-12 py-1">
      <div class="font-bold text-lg mb-2">University of Ankatso</div>
      <p class="text-gray-700 text-base text-sm">
        It is the capital university, including all fields
      </p>
    </div>
    <div class="mt-1 ml-6 fixed bottom-16">
      <a href="https://www.univ-antananarivo.mg/" target="_blank">
        <button class="border rounded-lg text-white px-12 font-bold py-2 btn">Read More ...</button>
      </a>
    </div>
  </div>

  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="w-2/3" src=" ../../../../assets/image/espa.jpeg" alt="">
    </div>
    <div class="pl-6 pr-3 pt-3 py-1">
      <div class="font-bold text-lg mb-2 mt-6">ESPA Vontovorona</div>
      <p class="text-gray-700 text-base text-sm">
        It is a renowned school in telecommunications, civil engineering and electro-mechanics.
      </p>
    </div>
    <div class="mt-1 ml-6 fixed bottom-16">
      <a href="https://www.polytechnique.mg/" target="_blank">
        <button class="border rounded-lg text-white px-12 font-bold py-2 btn">Read More ...</button>
      </a>
    </div>
  </div>

</div>
