<!--p *ngFor="let university of universities">
  <b>{{university.name}}</b>
</p-->

<div class="h-2/5">
  <p class="text-4xl p-20 w-2/3">
    <span class="text-cyan-600">Choose</span> the university that suits you! <br>
    <span class="text-lg flex flex-col mt-8 text-gray-600">
      <span>It is very important to be fulfilled in your university,</span>
      <span class="">Ensure that you know the field you want
      </span>
    </span>
  </p>
  <img src="../../../../assets/image/school.svg" alt="" class="w-1/4 absolute right-8 top-8">
</div>

<div class="h-3/5 py-12 px-20 bg-cyan-500 flex justify-between">
  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="rounded-full w-1/4" src=" ../../../../assets/image/school-icon.png" alt="">
    </div>
    <div class="flex flex-col justify-evenly">
      <div class="pl-6 pr-3 pt-4 py-1">
        <div class="font-bold text-xl mb-2">ISPM</div>
        <p class="text-gray-700 text-base text-sm">
          It's a very well-known university, there are many fields. Particularly in IT
        </p>
      </div>
      <div class="mt-1 ml-6 fixed bottom-16">
        <button class="border rounded-lg text-white bg-cyan-500 px-6 py-2">Read More ...</button>
      </div>
    </div>
  </div>

  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="rounded-full w-1/4" src=" ../../../../assets/image/school-icon.png" alt="">
    </div>
    <div class="pl-6 pr-3 pt-4 py-1">
      <div class="font-bold text-xl mb-2">CNTEMAD</div>
      <p class="text-gray-700 text-base text-sm">
        This is the pioneer of distance learning in Madagascar. It provides distance learning in several areas
      </p>
    </div>
    <div class="mt-1 ml-6 fixed bottom-16">
      <button class="border rounded-lg text-white bg-cyan-500 px-6 py-2">Read More ...</button>
    </div>
  </div>

  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="rounded-full w-1/4" src=" ../../../../assets/image/school-icon.png" alt="">
    </div>
    <div class="pl-6 pr-3 pt-4 py-1">
      <div class="font-bold text-xl mb-2">University of Ankatso</div>
      <p class="text-gray-700 text-base text-sm">
        It is the capital university, including all fields
      </p>
    </div>
    <div class="mt-1 ml-6 fixed bottom-16">
      <button class="border rounded-lg text-white bg-cyan-500 px-6 py-2">Read More ...</button>
    </div>
  </div>

  <div class="w-60 h-full rounded overflow-hidden shadow-lg bg-white mr-12">
    <div class="flex justify-center mt-4">
      <img class="rounded-full w-1/4" src=" ../../../../assets/image/school-icon.png" alt="">
    </div>
    <div class="pl-6 pr-3 pt-4 py-1">
      <div class="font-bold text-xl mb-2">ISCAM</div>
      <p class="text-gray-700 text-base text-sm">
        This school is intended for commerce and business.
      </p>
    </div>
    <div class="mt-1 ml-6 fixed bottom-16">
      <button class="border rounded-lg text-white bg-cyan-500 px-6 py-2">Read More ...</button>
    </div>
  </div>

</div>
