<body>
  <div class="ngcontent">
    <div class="px-16 -mt-2" style="font-family: roboto;">
      <div class="w-full h-full bg-white rounded-3xl">
        <nav class="flex justify-between w-full p-8 items-center">
          <a href="/"><span class="font-bold text-2xl text-blue-700 tracking-tight ml-8">GSC-2024</span></a>
          <div class="md:items-center md:w-auto flex text-gray-700 text-lg">
            <div class="md:flex hidden text-gray-700">
              <a class="block mr-12 hov" routerLinkActive="active" routerLink="/osp/university">University</a>
              <a class="block mr-12 hov" routerLinkActive="active" routerLink="/osp/test">Test</a>
              <a class="block hov" routerLink="active" routerLink="#contact">Contact</a>
            </div>
          </div>
          <div class="flex text-sm mr-8" id="btn">
            <a class="px-8 py-3 ml-2 bg-blue-700 text-gray-100 font-semibold leading-none border rounded-lg hover:bg-green-800"
              (click)="login()">Log In</a>
          </div>
        </nav>
        <section class="flex flex-row w-full">
          <div class="mx-16 mb-6 mt-12 bg-white py-4">
            <h3 class="text-5xl text-gray-700" style="font-size: 3rem;">Create
              your<br><br>
              <span class="text-blue-800">Future</span>
              as YOU are
            </h3> <br> <br>
            <p class="text-gray-600 mt-8 text-xl">
              How can we discover the best future for you:
              a fulfilling educational journey,
              a rewarding career, and a dream to fulfill?
            </p>
            <mat-card class="h-2/5 mt-20">
            </mat-card>
          </div>
          <div class="w-2/3 m-12 mr-24 mb-36  ">
            <img src="../../../../assets/image/code.svg" alt="" class="">
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
