<div class="ngcontent">
  <nav class="nav_barre">
  </nav>
  <mat-tab-group fitInkBarToContent>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-card-title class="title_card">
          <span class="title">Activity</span>
        </mat-card-title>
      </ng-template>
      <div class="test1" #test>

        <div class="quality_list">
          <mat-card-title> Activity list</mat-card-title>
          <div class="content">
            <div class="content_list" #listquality>
              <mat-card class="li" id="First" *ngFor="let activity1 of activities1">
                <mat-card class="elt"> {{ activity1.name | titlecase }} </mat-card>
              </mat-card>
              <mat-card class="li" id="Second" *ngFor="let activity3 of activities3">
                <mat-card class="elt"> {{ activity3.name | titlecase }} </mat-card>
              </mat-card>
            </div>
            <div class="content_list" #listquality2>
              <mat-card class="li" id="Third" *ngFor="let activity2 of activities2">
                <mat-card class="elt"> {{ activity2.name | titlecase }} </mat-card>
              </mat-card>
              <mat-card class="li" id="Forth" *ngFor="let activity4 of activities4">
                <mat-card class="elt"> {{ activity4.name | titlecase }} </mat-card>
              </mat-card>
            </div>
          </div>
        </div>
        <span class="barre"></span>
        <div class="my_quality" #myquality>
          <mat-card-title>My Activity </mat-card-title>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="title">
        <span class="title">Quality</span>
      </ng-template>
      <div class="test1" #test1>

        <div class="quality_list">
          <mat-card-title> Activity list</mat-card-title>
          <div class="content">
            <div class="content_list" #listquality3>
              <mat-card class="li" id="First1" *ngFor="let quality1 of qualities1">
                <mat-card class="elt"> {{quality1.name}} </mat-card>
              </mat-card>
              <mat-card class="li" id="Second1" *ngFor="let quality2 of qualities2">
                <mat-card class="elt"> {{quality2.name}} </mat-card>
              </mat-card>
            </div>
            <div class="content_list" #listquality4>
              <mat-card class="li" id="Third1" *ngFor="let quality3 of qualities3">
                <mat-card class="elt"> {{quality3.name}} </mat-card>
              </mat-card>
              <mat-card class="li" id="Forth1" *ngFor="let quality4 of qualities4">
                <mat-card class="elt"> {{quality4.name}} </mat-card>
              </mat-card>
            </div>
          </div>
        </div>
        <span class="barre"></span>
        <div class="my_quality" #myactivity>
          <mat-card-title>My Activity </mat-card-title>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="title">
        <span class="title"> Profession </span>
      </ng-template>
      <div class="test1" #test2>

        <div class="quality_list">
          <mat-card-title> Activity list</mat-card-title>
          <div class="content">
            <div class="content_list" #listquality5>
              <mat-card class="li" id="First2" *ngFor="let profession1 of professions1">
                <mat-card class="elt"> {{profession1.name}} </mat-card>
              </mat-card>
              <mat-card class="li" id="Second2" *ngFor="let profession2 of professions2">
                <mat-card class="elt"> {{profession2.name}} </mat-card>
              </mat-card>
            </div>
            <div class="content_list" #listquality6>
              <mat-card class="li" id="Third2" *ngFor="let profession3 of professions3">
                <mat-card class="elt"> {{profession3.name}} </mat-card>
              </mat-card>
              <mat-card class="li" id="Forth2" *ngFor="let profession4 of professions4">
                <mat-card class="elt"> {{profession4.name}} </mat-card>
              </mat-card>
            </div>
          </div>
        </div>
        <span class="barre"></span>
        <div class="my_quality" id="proffesion" #myprofession>
          <mat-card-title>My Activity</mat-card-title>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
