<div class="ngcontent">
   <nav class="nav_barre">
    <div class="home"><span>GSC-2024</span></div>
    <div class="test"><span>Test</span></div>
   </nav> 
   <mat-tab-group fitInkBarToContent>
    <mat-tab>
        <ng-template mat-tab-label class="title">
          <span class="title">First</span>
        </ng-template>

        <div class="test1">
            <mat-card-title>
                <span>Metier qui vous passione</span>
            </mat-card-title>
        </div>
    </mat-tab>



       <mat-tab>
        <ng-template mat-tab-label  class="title">
            <span class="title">Second</span>
        </ng-template>
        <div class="test1">
            <mat-card-title>
                <span>Metier qui vous passione</span>
            </mat-card-title>
        </div>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label class="title">
            <span class="title">Third</span>
        </ng-template>
        <div class="test1">
            <mat-card-title>
                <span>Metier qui vous passione</span>
            </mat-card-title>
        </div>
      </mat-tab>
  </mat-tab-group>
</div>