$color-primary:#38A7A6; 
$color-secondary: #59CD97;
$color-accentiation: #225B7C;
.ngcontent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    .nav_barre{
        margin-top: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        height: 10%;
        top: 0;
        border: 4px solid $color-primary;
        border-radius: 2rem;
        .home, .test{
            span{
                font-size: 1.5rem;
                font-weight: bold;
                color: $color-primary;
            }
        }
    }
}