$color-primary:#38A7A6; 
$color-secondary: #59CD97;
$color-accentiation: #225B7C;
.result{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    .welcome_title{
        position: absolute;
        top: 0;
        background-color: $color-primary;
        width: 96%;
        border-radius: 0 0 1rem 1rem;
        height: 8vh;
        justify-content: center;
        display: flex;
        align-items: center;
        .text_typing{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span{
            font-size: 2rem;
            color: white;
        }
    }
}
}
.container_result{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    .kavio_result{
        padding: 2rem ;
        border-radius: 2rem;
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.2);
        .image{
            width: 100%;
            height: 40%;
            img{
                width: 100%;
                border-radius: 1rem;
                height: 100%;
                object-fit: fill;
            }
        }
        .type_interet{
            display: inline-block;
            padding-top: 2rem;
            height: 40%;
            letter-spacing: .5px;
            width: 100%;
            h3{
                font-size: 1.2rem;
                font-weight: bold;
            }
            button{
                width: 20%;
                height: max-content;
                font-weight: bold;
            }
            a{
                color: blue;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 1.5px;
                cursor: pointer;
            }
        }
    }
    .university_proposition{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        .es{
            box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 1rem;
            .about{
                width: 40%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 4px solid $color-primary;
            }
            .img_es{
                width: 30%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            }
        }
    }
    
.react{
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: $color-primary;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .react_title{
        width: max-content;
        color: white;
        font-size: 1.4rem;
    }
    .like{
        padding-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
      svg{
        width: 26px;
        height: 26px;
        fill: rgba(255, 255, 0, 0.781);
      }
    }
}