<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home | page</title>
</head>
<body>        
    <div class="container">
        <div class="style">
           <div class="first" *ngIf="fb_teste">
                <div class="image">
                    <img [src]="user.response.picture.data.url" alt="">
                    <!-- <img src="../../../../assets/image/bg_home.jpg" alt=""> -->
                </div>
                <div class="description">
                    <span class="firstName">
                        {{user.firstName}}
                    </span>
                    <span class="lastName">
                        {{user.lastName}}
                    </span>
                </div>
           </div>
           <div class="first" *ngIf="!fb_teste">
            <!-- <div class="image">
                <img [src]="user.response.picture.data.url" alt="">
            </div>
            <div class="description">
                <span class="firstName">
                    {{user.firstName}}
                </span>
                <span class="lastName">
                    {{user.lastName}}
                </span>
            </div> -->
       </div>
            <div class="deconnexion" (click)="signOut()">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                  </svg>
            </div>
        </div>
        <div class="title">
            <mat-card>
                <mat-card-title>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facilis beatae quidem itaque rerum voluptates, mollitia, praesentium nulla minus quae fugit nemo ipsam odio ratione perferendis. Nostrum impedit eius ea!
                </mat-card-title>
            </mat-card>
        </div>
       <div class="card">
        <mat-card>
            <mat-card-subtitle>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt blanditiis id rerum unde laborum consequuntur quaerat, repellendus aliquam cum?
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button>Developpement P</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt blanditiis id rerum unde laborum consequuntur quaerat, repellendus aliquam cum?
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button>Teste</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt blanditiis id rerum unde laborum consequuntur quaerat, repellendus aliquam cum?
            </mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button >Etablissement</button>
            </mat-card-actions>
        </mat-card>
       </div>
    </div>
</body>
</html>